{% extends 'AppBundle::error_base.html.twig' %}

{% block pagetitle %}{{ '404'|trans }}{% endblock %}

{% block body %}
    <div class="container-fluid error-page">
        <div class="row justify-content-center mt-5 text-center">
            <div class="col-lg-6">
                <h1>{{ '404'|trans }}</h1>
                <p class="text-big">{{ '404.text'|trans|raw }}</p>
            </div>
        </div>
    </div>
{% endblock %}