{% extends '@App/base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        {% stylesheets
        'bundles/app/css/impressum.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

{% block pagetitle %}Datenschutz | {{ 'base.meta.title'|trans }}{% endblock %}

{% block bodyclass %}impressum{% endblock %}

{% block body %}
    {% include '@App/nav.html.twig' with {'index': false} %}
    <div class="container header">
        <section class="row">
            <div class="col-lg-8 col-lg-push-2">
                <h1>Datenschutz & Richtlinien</h1><br>
                <h2>Prämisse</h2>
                <p>Alle Inhalte auf dieser Seite sind, sofern nicht anders gekennzeichnet, geistiges Eigentum von
                    Barthélémy Bonhomme oder der jeweiligen Künstler (folgend: "Wir", "Uns").</p>
                <p>Inhalte der teilnehmen Künstler sind mit Erlaubnis der Urheber hochgeladen und zum
                    Download bereitgestelt.</p>
                <p>Das Kopieren, Vervielfältigen oder Einbetten jeglicher Inhalte bedarf einer schriftlichen
                    Einverständniserklärung.</p>
                <p>Die zum Download stehenden Alben dürfen nicht verkauft oder zu diffamierenden
                    Zwecken verwendet werden.<br>
                    Darunter gehören unter anderem aber nicht ausschließlich die Verbreitung von Rassismus, Xenophobie,
                    Feindlichkeit gegenüber jedweder Gruppe von Menschen, Tieren, Pflanzen, Steinen und sonstigen sich
                    in diesem Universum befindlichen Entitäten.</p>
                <p>Wir rufen zur Verbreitung von Liebe und Frieden auf und hoffen unseren Teil dazu beizutragen.</p>
            </div>
        </section>
        <section class="row">
            <div class="col-lg-8 col-lg-push-2">
                <h3>Cookies</h3>
                <p>Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten auf Ihrem Rechner
                    keinen Schaden an und enthalten keine Viren. Cookies dienen dazu, unser Angebot
                    nutzerfreundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf
                    Ihrem Rechner abgelegt werden und die Ihr Browser speichert.</p>
                <p>Die meisten der von uns verwendeten Cookies sind so genannte „Session-Cookies“. Sie werden nach
                    Ende Ihres Besuchs automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert,
                    bis Sie diese löschen. Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch
                    wiederzuerkennen.</p>
                <p>Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden
                    und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder
                    generell ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browser
                    aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website
                    eingeschränkt sein.</p>
                <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
                <h3>Server-Log-Files</h3>
                <p>Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log
                    Files, die Ihr Browser automatisch an uns übermittelt. Dies sind:</p>
                <ul>
                    <li><p>Browsertyp/ Browserversion</p></li>
                    <li><p>verwendetes Betriebssystem</p></li>
                    <li><p>Referrer URL</p></li>
                    <li><p>Hostname des zugreifenden Rechners</p></li>
                    <li><p>Uhrzeit der Serveranfrage</p></li>
                </ul>
                <p>Diese Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit
                    anderen Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachträglich zu
                    prüfen, wenn uns konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden.</p>
                <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
                <h3>Datenschutzerklärung für die Nutzung von Facebook-Plugins (Share-Button)</h3>
                <p>Auf unseren Seiten sind Plugins des sozialen Netzwerks Facebook, 1601 South California Avenue,
                    Palo Alto, CA 94304, USA integriert. Die Facebook-Plugins erkennen Sie an dem Facebook-Logo oder
                    dem "Share-Button" ("Teilen“) auf unserer Seite. Eine Übersicht über die Facebook-Plugins finden
                    Sie hier: <a href="http://developers.facebook.com/docs/plugins/" target="_blank" rel="nofollow">http://developers.facebook.com/docs/plugins/</a>
                    Wenn Sie unsere Seiten besuchen, wird über das Plugin eine direkte Verbindung zwischen Ihrem
                    Browser und dem Facebook-Server hergestellt. Facebook erhält dadurch die Information, dass Sie
                    mit Ihrer IP-Adresse unsere Seite besucht haben. Wenn Sie den Facebook „Share-Button“ anklicken
                    während Sie in Ihrem Facebook-Account eingeloggt sind, können Sie die Inhalte unserer Seiten auf
                    Ihrem Facebook-Profil verlinken. Dadurch kann Facebook den Besuch unserer Seiten Ihrem
                    Benutzerkonto zuordnen. Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis
                    vom Inhalt der übermittelten Daten sowie deren Nutzung durch Facebook erhalten. Weitere
                    Informationen hierzu finden Sie in der Datenschutzerklärung von facebook unter <a
                            href="https://de-de.facebook.com/policy.php" target="_blank" rel="nofollow">https://de-de.facebook.com/policy.php</a>
                </p>
                <p>Wenn Sie nicht wünschen, dass Facebook den Besuch unserer Seiten Ihrem Facebook-Nutzerkonto
                    zuordnen kann, loggen Sie sich bitte aus Ihrem Facebook-Benutzerkonto aus.</p>
                <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
                <h3>Datenschutzerklärung für die Nutzung von Twitter</h3>
                <p>Auf unseren Seiten sind Funktionen des Dienstes Twitter eingebunden. Diese Funktionen werden
                    angeboten durch die Twitter Inc., 1355 Market Street, Suite 900, San Francisco, CA 94103, USA.
                    Durch das Benutzen von Twitter und der "Tweet" Funktion werden die von Ihnen besuchten Webseiten
                    mit Ihrem Twitter-Account verknüpft und anderen Nutzern bekannt gegeben. Dabei werden auch Daten
                    an Twitter übertragen. Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis
                    vom Inhalt der übermittelten Daten sowie deren Nutzung durch Twitter erhalten. Weitere
                    Informationen hierzu finden Sie in der Datenschutzerklärung von Twitter unter <a
                            href="http://twitter.com/privacy" target="_blank"
                            rel="nofollow">http://twitter.com/privacy</a>.
                </p>
                <p>Ihre Datenschutzeinstellungen bei Twitter können Sie in den Konto-Einstellungen unter <a
                            href="http://twitter.com/account/settings" target="_blank" rel="nofollow">http://twitter.com/account/settings</a>
                    ändern.</p>
                <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
            </div>
        </section>
    </div>
    {% include '@App/footer.html.twig' %}
{% endblock %}