{% extends '@App/base.html.twig' %}

{% block pagetitle %}Impressum | {{ 'base.meta.title'|trans }}{% endblock %}

{% block description %}{% endblock %}
{% block og_description %}{% endblock %}

{% block body %}

    {% include '@App/nav.html.twig' with {'index': false} %}

    <div class="container py-5 mt-5">
        <div class="row py-2">
            <div class="col-lg-6">
                <h1>Impressum</h1>
                <p class="text-big">keinegrenzen.org - Gemeinnütziges Musikprojekt</p>
                <p class="text-big">Barthélémy Bonhomme</p>
                <p class="text-big">Drosselweg 22</p>
                <p class="text-big">50735 Köln</p>
                <p class="text-big">Deutschland</p>
                <p class="text-big">E-Mail: <a href="mailto:post@barthy.koeln">post@barthy.koeln</a></p>
                <p class="text-big">Tel: <a href="tel:+4917630594643">+49 176 30494643</a></p>
                <br>
            </div>
        </div>
    </div>

    {% include '@App/footer.html.twig' %}

{% endblock %}