{% extends '@App/base.html.twig' %}

{% block body %}

    <header class="container-fluid text-center" id="intro">
        <div class="row align-items-center page-title">
            <div class="col-12">
                Hier passiert was… Bald!
            </div>
        </div>
    </header>

    {% include '@App/footer.html.twig' %}

{% endblock %}
