# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# PHPStorm
/.idea

composer.lock

/web/app.php
/web/app_dev.php

node_modules/

var/logs/
var/cache/
var/sessions/
web/css/
web/js/
web/bundles/
web/cache/
web/.htaccess

vendor/
