# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# PHPStorm
/.idea

composer.lock

/web/app.php
/web/app_dev.php

node_modules/

app/cache/
app/logs/
var/cache/
var/sessions/
web/bundles/
web/cache/
web/.htaccess
