# Parameters
/app/config/parameters.yml
/app/config/parameters.yml.dist
/app/config/security.yml

# PHPStorm
/.idea

/web/app.php
/web/app_dev.php

node_modules/

var/logs/
var/sessions/
web/bundles/
web/.htaccess
web/uploads/

/vendor/
app/Resources/views/
var/cache/
