{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <h1>Profile creation</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create"/>
            {{ form_end(form) }}

            <ul>
                <li>
                    <a href="{{ path('admin_profile_index') }}">Back to the list</a>
                </li>
            </ul>

        </div>
    </div>
{% endblock %}
