.profile .header {
    background: #fff url('../uploads/images/576138a18f0b6.jpg') no-repeat center center;
}
.profile .header .img-div {
    background: #fff url('../uploads/images/573a4c0ae518a.jpg') no-repeat center center;

}
.profile .header,
.profile .header .img-div {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

