.profile .header {
    background: #fff url('../uploads/images/57fce22a093be.jpg') no-repeat center center;
}
.profile .header .img-div {
    background: #fff url('../uploads/images/57f3c5460b394.jpg') no-repeat center center;

}
.profile .header,
.profile .header .img-div {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

