.profile .header {
    background: #fff url('../uploads/images/57b383475d496.jpg') no-repeat center center;
}
.profile .header .img-div {
    background: #fff url('../uploads/images/573b1d59373c7.jpg') no-repeat center center;

}
.profile .header,
.profile .header .img-div {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

