.album-art-melonie {
    background: url('../uploads/images/57fce4c60d407.png') center center;
}

.album-melonie.album-details .row:first-child {
    background-color: rgb(255, 255, 255);
}

.album-melonie h3,
.album-melonie p,
.album-melonie span {
    color: rgb(55, 56, 65);
}

.album-melonie h3 {
    border-color: rgb(181, 70, 37);
}

.album-melonie.album-details .row:first-child .play-btn .pp-icon,
.album-melonie.album-details .row:first-child .highlight,
.album-melonie.album-details .row:first-child a,
.album-melonie.album-details .row:first-child a:active,
.album-melonie.album-details .row:first-child a:visited,
.album-melonie.album-details .row:first-child a:hover {
    color: rgb(181, 70, 37);
}

.album-melonie .album-list .album-list-toggle {
    border-bottom: 3px solid rgb(55, 56, 65);
}

.album-melonie .play-btn .fa-circle,
.album-melonie .album-list .list-group-item .badge,
.album-melonie .album-list .list-group-item .track-number {
    color: rgb(181, 70, 37);
}