.album-art-netz {
    background: url('../uploads/images/573c6ce2d164d.jpg') center center;
}

.album-netz.album-details .row:first-child {
    background-color: rgb(34, 54, 45);
}

.album-netz h3,
.album-netz p,
.album-netz span {
    color: rgb(205, 182, 159);
}

.album-netz h3 {
    border-color: rgb(69, 162, 124);
}

.album-netz.album-details .row:first-child .play-btn .pp-icon,
.album-netz.album-details .row:first-child .highlight,
.album-netz.album-details .row:first-child a,
.album-netz.album-details .row:first-child a:active,
.album-netz.album-details .row:first-child a:visited,
.album-netz.album-details .row:first-child a:hover {
    color: rgb(69, 162, 124);
}

.album-netz .album-list .album-list-toggle {
    border-bottom: 3px solid rgb(205, 182, 159);
}

.album-netz .play-btn .fa-circle,
.album-netz .album-list .list-group-item .badge,
.album-netz .album-list .list-group-item .track-number {
    color: rgb(69, 162, 124);
}