.album-art-generation-omega {
    background: url('../uploads/images/588a423f34d29.jpg') center center;
}

.album-generation-omega.album-details .row:first-child {
    background-color: rgb(211, 211, 213);
}

.album-generation-omega h3,
.album-generation-omega p,
.album-generation-omega span {
    color: rgb(67, 67, 67);
}

.album-generation\2D omega h3 {
    border-color: rgb(116, 115, 116);
}

.album-generation-omega.album-details .row:first-child .play-btn .pp-icon,
.album-generation-omega.album-details .row:first-child .highlight,
.album-generation-omega.album-details .row:first-child a,
.album-generation-omega.album-details .row:first-child a:active,
.album-generation-omega.album-details .row:first-child a:visited,
.album-generation-omega.album-details .row:first-child a:hover {
    color: rgb(116, 115, 116);
}

.album-generation-omega .album-list .album-list-toggle {
    border-bottom: 3px solid rgb(67, 67, 67);
}

.album-generation-omega .play-btn .fa-circle,
.album-generation-omega .album-list .list-group-item .badge,
.album-generation-omega .album-list .list-group-item .track-number {
    color: rgb(116, 115, 116);
}