.album-art-mwb {
    background: url('../uploads/images/573df9184815c.png') center center;
}

.album-mwb.album-details .row:first-child {
    background-color: rgb(141, 174, 131);
}

.album-mwb h3,
.album-mwb p,
.album-mwb span {
    color: rgb(255, 255, 255);
}

.album-mwb h3 {
    border-color: rgb(150, 14, 13);
}

.album-mwb.album-details .row:first-child .play-btn .pp-icon,
.album-mwb.album-details .row:first-child .highlight,
.album-mwb.album-details .row:first-child a,
.album-mwb.album-details .row:first-child a:active,
.album-mwb.album-details .row:first-child a:visited,
.album-mwb.album-details .row:first-child a:hover {
    color: rgb(150, 14, 13);
}

.album-mwb .album-list .album-list-toggle {
    border-bottom: 3px solid rgb(255, 255, 255);
}

.album-mwb .play-btn .fa-circle,
.album-mwb .album-list .list-group-item .badge,
.album-mwb .album-list .list-group-item .track-number {
    color: rgb(150, 14, 13);
}