.album-art-halb-mensch-halp-plan {
    background: url('../uploads/images/57615eba086c4.jpg') center center;
}

.album-halb-mensch-halp-plan.album-details .row:first-child {
    background-color: rgb(176, 175, 174);
}

.album-halb-mensch-halp-plan h3,
.album-halb-mensch-halp-plan p,
.album-halb-mensch-halp-plan span {
    color: rgb(25, 24, 28);
}

.album-halb\2D mensch\2D halp\2D plan h3 {
    border-color: rgb(158, 39, 40);
}

.album-halb-mensch-halp-plan.album-details .row:first-child .play-btn .pp-icon,
.album-halb-mensch-halp-plan.album-details .row:first-child .highlight,
.album-halb-mensch-halp-plan.album-details .row:first-child a,
.album-halb-mensch-halp-plan.album-details .row:first-child a:active,
.album-halb-mensch-halp-plan.album-details .row:first-child a:visited,
.album-halb-mensch-halp-plan.album-details .row:first-child a:hover {
    color: rgb(158, 39, 40);
}

.album-halb-mensch-halp-plan .album-list .album-list-toggle {
    border-bottom: 3px solid rgb(25, 24, 28);
}

.album-halb-mensch-halp-plan .play-btn .fa-circle,
.album-halb-mensch-halp-plan .album-list .list-group-item .badge,
.album-halb-mensch-halp-plan .album-list .list-group-item .track-number {
    color: rgb(158, 39, 40);
}