/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

.index .header {
    background: #fff url('../bundles/app/images/lightroom/kgo_02.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.index .second-header {
    background: #fff url('../bundles/app/images/lightroom/kgo_01.jpg') center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px;
}

.index .header .fill-height {
    background-color: rgba(0,0,0,0.3);
}

@media (max-width: 991px) {
    .index .second-header .text-emphasis,
    .index .second-header {
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .index .second-header {
        padding: 100px;
    }
}

.index .second-header .text-emphasis {
    color: #fff;
    display: inline-block;
}

.index .second-header .text-emphasis span {
    width: 100%;
    max-width: 100%;
    max-height: calc(100% / 3);
    line-height: 100%;
    display: block;
}

.index .howto > div {
    display: none;
}

.index .howto .howto-arrow {
    -webkit-transform: translate(0, 75%);
    -moz-transform: translate(0, 75%);
    -ms-transform: translate(0, 75%);
    -o-transform: translate(0, 75%);
    transform: translate(0, 75%);
}

.index .text-emphasis .double {
    color: #00a8ff;
    /*color: #609e55;*/
}

.index .artists .list-inline {
    padding-top: 25px;
}

.index .artists .artist {
    background-color: #eee;
    display: block;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.index .artists .artist p {
    margin: 0;
    overflow: hidden;
}

.index .artists .artist .center-block {
    height: 350px;
    width: auto;
    max-width: 300%;
}

.index .second-header .col-lg-6,
.index .second-header .col-lg-3 {
    padding-top: 25px;
    padding-bottom: 25px;
    height: 100%;
}

.index .second-header .col-lg-6 > .col-lg-12 {
    height: 50%;
    width: 100%;
    max-width: 100%;
}

.index .second-header .col-lg-6 > .col-lg-12:last-child {
    margin-top: 20px;
}

@media (max-width: 992px) {
    .howto span.fa-arrow-right {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.hundred-percent {
    font-size: 3em;
}

.hundred-percent .double {
    font-size: 3.5em;
}

.index .artist-col .headerline,
.index .artist-col .artist {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
}

.index .support {
    background: #fff url('../bundles/app/images/lightroom/kgo_04.jpg') no-repeat 70% center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.index .support > .row > div {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    display: table;
}

.index .support > .row > div > div {
    display: table-cell;
    vertical-align: middle;
}

.index .support > .row > div > div > p {
    margin-top: 15px;
    margin-bottom: 30px;
}

.index .share-btns iframe {
    background: transparent;
}

.index .share-btns > iframe {
    display: inline;
    vertical-align: middle;
}

.index .share-btns > div {
    vertical-align: middle;
}


.index .full-width {
    width: 80%;
}