// General variable structure
//
// Variable format should follow the `$component-modifier-state-property` order.

// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
$white: #fff !default;
$black: #000 !default;
$red: #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green: #5cb85c !default;
$blue: #0099ff !default;
$teal: #00eaff !default;
$pink: #ff5b77 !default;
$purple: #613d7c !default;

// Create grayscale
$gray-dark: #333333 !default;
$gray: lighten(#333333, 20%) !default;
$gray-light: lighten(#333333, 35%) !default;
$gray-lighter: lighten(#333333, 50%) !default;
$gray-lightest: lighten(#333333, 65%) !default;

// Reassign color vars to semantic color scheme
$brand-primary: $blue !default;
$brand-success: $green !default;
$brand-info: $teal !default;
$brand-warning: $orange !default;
$brand-danger: $red !default;
$brand-inverse: $gray-dark !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded: false !default;
$enable-shadows: true !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

$icon-size: 20px;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
//@import "~bootstrap/scss/print";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
//@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
//@import "~bootstrap/scss/tables";
//@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
//@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
//@import "~bootstrap/scss/input-group";
//@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
//@import "~bootstrap/scss/breadcrumb";
//@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
//@import "~bootstrap/scss/jumbotron";
//@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
//@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
//@import "~bootstrap/scss/modal";
//@import "~bootstrap/scss/tooltip";
//@import "~bootstrap/scss/popover";
//@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";

@import url('https://fonts.googleapis.com/css?family=Oswald:500|Ubuntu:300');
@import "partials/animations";

@mixin transitionPositionAllAndTransform {
  $duration: .8s;
  $interpolation: ease-in-out;
  $position-transition: top $duration $interpolation, bottom $duration $interpolation, left $duration $interpolation, right $duration $interpolation;
  $padding-transition: padding-top $duration $interpolation, padding-bottom $duration $interpolation, padding-left $duration $interpolation, padding-right $duration $interpolation;
  $size-transition: height $duration $interpolation, width $duration $interpolation;
  transition: $position-transition, $padding-transition, $size-transition, transform $duration $interpolation;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// BTN SHADOW

.btn {
  &:hover {
    cursor: pointer;
  }
}

.btn-shadow {
  box-shadow: rgba(0, 34, 55, 0.24) 0 0.45rem 1.75rem 0;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.09);

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
    box-shadow: rgba(0, 34, 55, 0.3) 0 0.45rem 1.75rem 0;
  }

  &:active {
    box-shadow: rgba(0, 34, 55, 0.24) 0 0.45rem 1.75rem 0, inset 0 2px 3px rgba(0, 0, 0, 0.3);
  }
}

.text-big {
  font-size: $font-size-lg;
  line-height: $line-height-lg;
}

.badge-white {
  @include badge-variant($white);
  color: $brand-primary;
}

.initially-hidden {
  display: none;
}

.transition-wh {
  transition: width .3s ease, height .3s ease;
}

.sr-enabled {

  .sr:not(.sr-done) {
    visibility: hidden;
  }
}

.icon {
  width: $icon-size;
  height: $icon-size;
  vertical-align: -2px;

  &.icon-white {
    fill: $white;
  }

  &.icon-primary {
    fill: $primary;
  }

  &.icon-gray {
    fill: $gray-dark;
  }

  &.icon-orange {
    fill: #f50;
  }
}

.social-link {
  $padding: $icon-size / 1.5;
  width: $icon-size + $padding;
  height: $icon-size + $padding;
  padding: $padding / 2;
  display: block;
  background-color: $gray-light;
  border-radius: 50%;
  transition: background-color .3s ease;

  &:hover {
    background-color: $brand-primary;
  }
}

blockquote {
  border-left: 4px solid $primary;
  padding-left: 20px;
  font-style: italic;
}

body, html {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

a:hover {
  cursor: pointer;
}

.jconfirm-title {
  line-height: 2.5rem;
}

h1, h2 {
  border-bottom: 1px solid $brand-primary;
  margin-bottom: 1.25rem;
  padding-bottom: 0.75rem;
  display: inline-flex;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6, .btn, .nav-link, .statistics {
  font-family: 'Oswald', sans-serif;
}

nav.navbar {
  background-color: rgba($black, 0.5);
  min-height: 3.5em;

  .logo {
    width: 80px;
    height: 80px;
  }

  .navicon {
    color: $white;
  }

  .navbar-brand {
    z-index: $zindex-dropdown;
    position: absolute;
    top: 10px;
  }

  .navbar-toggler {
    font-size: 1.5rem;
    line-height: 1.5rem;
    position: absolute;
    right: 0;
    top: 0.5rem;

    &:active, &:focus {
      outline: none;
    }

    .navbar-toggler-icon {
      color: $white;
      height: auto;
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }

  .nav-item {
    text-align: center;

    .nav-link {
      color: $white;
      text-transform: uppercase;

      &:active, &:focus, &:hover {
        color: $gray-lightest;
        cursor: pointer;
      }
    }
  }

  .navbar-collapse {
    padding-top: 56px;
  }
}

header {
  height: 100%;
  background: url('../../public/images/lightroom/kgo_02.jpg') no-repeat center;
  background-size: cover;

  .row {
    height: 100%;
  }

  .page-title {
    font-size: 3rem;
    color: $white;
    text-transform: uppercase;
    font-weight: 700;

    h1, h2 {
      padding: 0;
      border: 0;
      display: block;
      text-shadow: rgba($black, 0.8) 0 0 2rem;
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 2rem;
    }

    strong {
      color: $brand-primary;
    }

    .arrow-bounce {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: $white;
      font-size: 1.2rem;
      text-align: center;
      animation: bounce 4s infinite;
      animation-delay: 4s;
      cursor: pointer;
      text-decoration: none;
      z-index: 1000;

      .icon {
        width: 30px;
        height: 30px;
      }
    }
  }

  &.profile-header {
    $header-padding: 56px;

    .video-container {
      /* see: https://codepen.io/shshaw/pen/OVGWLG */
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      overflow: hidden;
      z-index: 0;
      display: none;

      video {
        position: absolute !important;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .video-portrait-buttons {
      position: absolute;
      right: $header-padding;
      bottom: $header-padding;
    }

    .page-title {
      position: relative;

      .profile-header-content {
        z-index: 10;
        position: absolute;
        top: $header-padding;
        left: $header-padding;
        right: $header-padding;
        bottom: $header-padding;

        .image-container {
          width: 40vh;
          height: 40vh;
          overflow: hidden;
          margin-left: auto;
          margin-right: auto;
          border: 3px solid $white;
          position: absolute;
          bottom: 30vh;
          left: 50%;
          transform: translateX(-50%);
          cursor: pointer;
          @include transitionPositionAllAndTransform;

          img {
            position: absolute;
            height: 100%;
            width: auto;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .title-container {
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 50%;
          padding-left: 5%;
          padding-right: 5%;
          transform: translateX(-50%);
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.3);
          @include transitionPositionAllAndTransform;

          h1 {
            font-size: 2.5rem;
            margin-bottom: 0.35rem;
          }

          h2 {
            font-size: 1.7rem;
            margin-bottom: 0;
          }

          hr {
            border-color: rgba(255, 255, 255, 0.3);
            width: 50%;
          }
        }
      }

      &.small {

        .profile-header-content {

          .image-container {
            left: .75rem;
            bottom: .75rem;
            width: 18vh;
            height: 18vh;
            z-index: 11 !important;
            transform: translateX(0%);
          }

          .title-container {
            left: 0;
            padding-left: calc(18vh + 1.5rem) !important;
            z-index: 10 !important;
            display: flex;
            align-items: center;
            transform: translateX(0%);
          }
        }
      }
    }
  }
}

section.intro {

  .btn {
    width: 100%;
  }
}

section.statistics {
  background: url('../../public/images/lightroom/kgo_01.jpg') no-repeat center;
  background-size: cover;

  span {
    display: block;
    font-size: 2rem;
    line-height: 2rem;
    height: 2rem;
    color: $white;
    text-transform: uppercase;
    text-shadow: 0 5px 10px rgba(0, 34, 55, 0.3);

    &.double {
      font-size: 4rem;
      line-height: 4rem;
      height: 4rem;
      color: $brand-primary;
      font-weight: 700;
      text-shadow: none;
    }
  }
}

section.artists {

  .genre-filter.active {
    background-color: $primary;
  }

  .artist-col {

    .artist-preview {
      background-color: lighten($gray-lightest, 7.5%);

      .artist-img {
        overflow: hidden;
        height: 0;
        padding-bottom: 70%;
        position: relative;

        img {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -5%);
          min-height: 100%;
          max-width: 120%;
          width: auto;
          height: auto;
        }
      }

      .artist-genre {
        font-size: 1.1rem;
        text-transform: uppercase;
        color: $gray;
      }
    }
  }
}

section.support {
  background: url('../../public/images/lightroom/kgo_04.jpg') no-repeat center;
  background-size: cover;
  min-height: 75%;

  .btn-fb {
    background-color: #3b5998;
    border-color: #3b5998;
    color: $white;
  }

  .btn-tw {
    background-color: #1da1f2;
    border-color: #1da1f2;
    color: $white;
  }

  .btn-insta {
    background-color: #c13584;
    border-color: #e1306c;
    color: $white;
  }

  .icon {
    fill: $white;
  }
}

footer {
  background-color: $gray-lightest;
  color: $white;
  position: relative;

  .btn-top {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 50%;
    display: block;
    transform: translateX(-50%);
    background-color: $white;
    color: $gray;

    > span {
      .icon {
        width: 50px;
        height: 50px;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
      }
    }
  }

  small, p {
    color: $gray;

    &.made-with-love {
      line-height: $icon-size + 3px;

      .icon {
        height: 1rem;
        width: 1rem;
        transform: translateY(0.5rem);
        fill: $brand-primary;
        animation: heartbeat 2.5s infinite;
      }
    }
  }
}

section.artist-bio {

  .quotes {

    p {
      text-align: center;
      margin-bottom: 1.5rem;

      em {
        line-height: 1rem;
        vertical-align: top;

        &::before {
          display: inline-block;
          content: '"';
          font-size: 2rem;
          font-weight: 700;
          margin-right: 0.1rem;
          vertical-align: -0.3rem;
          font-style: normal;
        }
      }
    }
  }
}

section.artist-discography {

  .album-art-container {

    .album-art {
      float: left;
      width: 100% !important;

      .image-container {
        width: 100%;
        padding-bottom: 100%;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        position: relative;

        img {
          height: 100%;
          width: auto;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
        }
      }
    }
  }

  .album-details-container {

    .album-details {

      .tracklist-title > a > .icon-orange {
        height: 2.5rem;
        width: auto;
      }

      *:not(.btn) {
        border-color: inherit;
      }

      .album-list {

        .list-group {
          padding: 0;

          .list-group-item {
            background: transparent;
            border: 0;
            border-bottom: 1px solid;
            cursor: pointer;
            text-overflow: ellipsis;
            overflow: hidden;
            position: relative;
            height: 2.5rem;

            .track-number, .title, .track-duration {
              position: absolute;
              height: 2.5rem;
              line-height: 2.5rem;
            }

            .track-number {
              left: 0;
              width: 25px;
            }

            .title {
              left: 25px;
              right: 50px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            .track-duration {
              right: 0;
              width: 50px;
              text-align: right;
            }
          }
        }
      }
    }
  }
}

.global-player {

  .now-playing-elapsed,
  .now-playing-length,
  .icon,
  .player-control,
  .progress-container {
    height: 2.5rem;
    min-width: 2.5rem;
    line-height: 2.5rem;
  }

  .now-playing-elapsed,
  .now-playing-length {
    font-size: 1.2rem;
  }

  .progress {
    height: 1rem;
    margin-top: (2.5rem - 1rem) / 2;
    margin-bottom: (2.5rem - 1rem) / 2;

    .progress-bar {
      height: 1rem;
      transition: width .075s linear;
    }
  }

  .now-playing-album, .now-playing-song {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .player-control {
    cursor: pointer;
  }
}

.error-page {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: url('../../public/images/404_dog.jpeg') no-repeat center;
  background-size: cover;
  padding: 0;

  .row {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    display: block;
    padding: 30px;
    background: rgba(255, 255, 255, 0.5);

    > div {
      margin: auto;
    }
  }
}

.youtube-video {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $white;
  z-index: $zindex-modal;

  iframe {
    width: 100%;
    height: 100%;
  }

  .dismiss-video {
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: $zindex-modal + 1;
  }
}

.download-dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $white;
  z-index: $zindex-modal;

  .row {
    height: 100%;

    .col {
      margin: auto;
    }
  }

  .btn {
    width: 100%;
  }
}

@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(md) {

  nav.navbar {
    .navbar-collapse {
      padding-top: 0;
    }
  }

  header:not(.profile-header) {
    .page-title {
      h1 {
        font-size: 3rem;
      }

      h2 {
        font-size: 1.5rem;
      }
    }
  }

  header.profile-header .page-title .profile-header-content .title-container {
    width: auto;
  }

  section.intro {

    .btn {
      width: 40%;
    }
  }

  .download-dialog {
    .btn {
      width: 40%;
    }
  }

  section.statistics {
    span {
      font-size: 3rem;
      line-height: 3rem;
      height: 3rem;
    }

    &.double {
      font-size: 6rem;
      line-height: 6rem;
      height: 6rem;
    }
  }
}

@include media-breakpoint-up(lg) {
  section.statistics {
    span {
      font-size: 4rem;
      line-height: 4rem;
      height: 4rem;

      &.double {
        font-size: 8rem;
        line-height: 8rem;
        height: 8rem;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  header:not(.profile-header) {
    .page-title {
      font-size: 6rem;
    }
  }
}