// General variable structure
//
// Variable format should follow the `$component-modifier-state-property` order.

// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
$white: #fff !default;
$black: #000 !default;
$red: #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green: #5cb85c !default;
$blue: #0099ff !default;
$teal: #00eaff !default;
$pink: #ff5b77 !default;
$purple: #613d7c !default;

// Create grayscale
$gray-dark: #333333 !default;
$gray: lighten(#333333, 20%) !default;
$gray-light: lighten(#333333, 35%) !default;
$gray-lighter: lighten(#333333, 50%) !default;
$gray-lightest: lighten(#333333, 65%) !default;

// Reassign color vars to semantic color scheme
$brand-primary: $blue !default;
$brand-success: $green !default;
$brand-info: $teal !default;
$brand-warning: $orange !default;
$brand-danger: $red !default;
$brand-inverse: $gray-dark !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded: false !default;
$enable-shadows: true !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

@import "../../../../../web/assets/vendor/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Oswald:500|Ubuntu:300');
@import "../Partials/animations";


@mixin transitionPositionAllAndTransform {
  $duration: .2s;
  $transition: top $duration ease, bottom $duration ease, left $duration ease, right $duration ease;
  -webkit-transition: $transition, -webkit-transform $duration ease;
  -moz-transition: $transition, -moz-transform $duration ease;
  -ms-transition: $transition, -ms-transform $duration ease;
  -o-transition: $transition, -o-transform $duration ease;
  transition: $transition, transform $duration ease;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// BTN SHADOW

.btn:active, .btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-shadow {
  box-shadow: rgba(0, 34, 55, 0.24) 0 0.45rem 1.75rem 0;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.09);

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
    box-shadow: rgba(0, 34, 55, 0.3) 0 0.45rem 1.75rem 0;
  }

  &:active {
    box-shadow: rgba(0, 34, 55, 0.24) 0 0.45rem 1.75rem 0, inset 0 2px 3px rgba(0, 0, 0, 0.3);
  }
}

.text-big {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.badge-white {
  @include badge-variant($white);
  color: $brand-primary;
}

.initially-hidden {
  display: none;
}

.transition-wh {
  -webkit-transition: width .3s ease, height .3s ease;
  -moz-transition: width .3s ease, height .3s ease;
  -ms-transition: width .3s ease, height .3s ease;
  -o-transition: width .3s ease, height .3s ease;
  transition: width .3s ease, height .3s ease;
}

.sr-enabled {

  .sr:not(.sr-done) {
    visibility: hidden;
  }
}

.social-link {

  .fa-circle {
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -ms-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
  }

  &:hover {

    .fa-circle {
      color: $brand-primary;
    }
  }
}

body, html {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

a:hover {
  cursor: pointer;
}

.jconfirm-title {
  line-height: 2.5rem;
}

h1, h2 {
  border-bottom: 1px solid $brand-primary;
  margin-bottom: 1.25rem;
  padding-bottom: 0.75rem;
  display: inline-flex;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6, .btn, .nav-link, .statistics {
  font-family: 'Oswald', sans-serif;
}

nav.navbar {
  background-color: rgba($black, 0.5);
  min-height: 3.5em;

  .navbar-brand {
    z-index: $zindex-dropdown;
    position: absolute;
    top: 10px;
  }

  .navbar-toggler {
    font-size: 1.5rem;
    line-height: 1.5rem;
    position: absolute;
    right: 0;
    top: 0.5rem;

    &:active, &:focus {
      outline: none;
    }

    .navbar-toggler-icon {
      color: $white;
      height: auto;
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }

  .nav-item {
    text-align: center;

    .nav-link {
      color: $white;
      text-transform: uppercase;

      &:active, &:focus, &:hover {
        color: $gray-lightest;
        cursor: pointer;
      }
    }
  }

  .navbar-collapse {
    padding-top: 56px;
  }
}

header {
  height: 100%;
  background: url('../../images/lightroom/kgo_02.jpg') no-repeat center;
  background-size: cover;

  .row {
    height: 100%;
  }

  .page-title {
    font-size: 3rem;
    color: $white;
    text-transform: uppercase;
    font-weight: 700;

    h1, h2 {
      padding: 0;
      border: 0;
      display: block;
      text-shadow: rgba($black, 0.8) 0 0 2rem;
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 2rem;
    }

    strong {
      color: $brand-primary;
    }

    .arrow-bounce {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: $white;
      font-size: 1.2rem;
      text-align: center;
      animation: bounce 4s infinite;
      animation-delay: 4s;
      cursor: pointer;
      text-decoration: none;
      z-index: 1000;

      a {
        color: $white;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &.profile-header {

    .video-container {
      // see: https://codepen.io/shshaw/pen/OVGWLG
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      overflow: hidden;
      z-index: 0;
      display: none;

      video {
        /* Make video to at least 100% wide and tall */
        min-width: 100%;
        min-height: 100%;

        /* Setting width & height to auto prevents the browser from stretching or squishing the video */
        width: auto;
        height: auto;

        /* Center the video */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .page-title {
      position: relative;

      .profile-header-content {
        z-index: 10;
        cursor: pointer;
        position: absolute;
        top: 56px;
        left: 56px;
        right: 56px;
        bottom: 56px;

        .image-container {
          width: 40vh;
          padding-bottom: 40vh;
          overflow: hidden;
          margin-left: auto;
          margin-right: auto;
          border: 3px solid $white;
          position: absolute;
          top: 28px;
          left: 50%;
          -webkit-transform: translate(-50%, 10vh);
          -moz-transform: translate(-50%, 10vh);
          -ms-transform: translate(-50%, 10vh);
          -o-transform: translate(-50%, 10vh);
          transform: translate(-50%, 10vh);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          @include transitionPositionAllAndTransform;

          img {
            height: 100%;
            width: auto;
            position: absolute;
            left: -25%;
            top: 0;
            visibility: hidden;
          }
        }

        .title-container {
          position: absolute;
          bottom: 0;
          left: 50%;
          padding-left: 5%;
          padding-right: 5%;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          background-color: rgba(0, 0, 0, 0.3);
          @include transitionPositionAllAndTransform;

          h1 {
            font-size: 2.5rem;
            margin-bottom: 0.35rem;
          }

          h2 {
            font-size: 1.7rem;
            margin-bottom: 0;
          }

          hr {
            border-color: rgba(255, 255, 255, 0.3);
            max-width: 50%;
          }
        }
      }

      &.small {

        .profile-header-content {

          .image-container {
            left: 0;
            bottom: 0;
            top: unset;
            width: 8.4rem;
            padding-bottom: 8.4rem;
            z-index: 11 !important;
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -ms-transform: translateX(0%);
            -o-transform: translateX(0%);
            transform: translateX(0%);
            margin: 0.5rem;
          }

          .title-container {
            left: 0;
            padding-left: 9.4rem !important;
            z-index: 10 !important;
            text-align: left;
            display: flex;
            align-items: center;
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -ms-transform: translateX(0%);
            -o-transform: translateX(0%);
            transform: translateX(0%);

            hr {
              max-width: none;
            }
          }
        }
      }
    }
  }
}

section.intro {

  .btn {
    width: 100%;
  }
}

section.statistics {
  background: url('../../images/lightroom/kgo_01.jpg') no-repeat center;
  background-size: cover;

  span {
    display: block;
    font-size: 2rem;
    line-height: 2rem;
    height: 2rem;
    color: $white;
    text-transform: uppercase;
    text-shadow: 0 5px 10px rgba(0, 34, 55, 0.3);

    &.double {
      font-size: 4rem;
      line-height: 4rem;
      height: 4rem;
      color: $brand-primary;
      font-weight: 700;
      text-shadow: none;
    }
  }
}

section.artists {

  .artist-col {

    .artist-preview {
      background-color: lighten($gray-lightest, 7.5%);

      .artist-img {
        overflow: hidden;
        height: 0;
        padding-bottom: 70%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        img {
          min-height: 100%;
          max-width: 120%;
          width: auto;
          height: auto;
          visibility: hidden;
        }
      }

      .artist-genre {
        font-size: 1.1rem;
        text-transform: uppercase;
        color: $gray;
      }
    }
  }
}

section.support {
  background: url('../../images/lightroom/kgo_04.jpg') no-repeat center;
  background-size: cover;
  min-height: 75%;

  .btn-fb {
    background-color: #3b5998;
    border-color: #3b5998;
    color: $white;
  }

  .btn-tw {
    background-color: #1da1f2;
    border-color: #1da1f2;
    color: $white;
  }

  .btn-insta {
    background-color: #c13584;
    border-color: #e1306c;
    color: $white;
  }
}

footer {
  background-color: $gray-lightest;
  color: $white;
  position: relative;

  .btn-top {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 50%;
    display: block;
    transform: translateX(-50%);
    background-color: $white;
    color: $gray;

    > span {
      &:before {
        font-size: 1.5rem;
        width: 50px;
        height: 50px;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        line-height: 45px;
      }
    }
  }

  small, p {
    color: $gray;

    .fa-heart {
      color: $brand-primary;
      animation: heartbeat 2.5s infinite;
    }
  }
}

section.artist-bio {

  .quotes {

    p {
      text-align: center;
      margin-bottom: 1.5rem;

      em {
        line-height: 1rem;
        vertical-align: top;

        &::before {
          display: inline-block;
          content: '"';
          font-size: 2rem;
          font-weight: 700;
          margin-right: 0.1rem;
          vertical-align: -0.3rem;
          font-style: normal;
        }
      }
    }
  }
}

section.artist-discography {

  .album-art-container {

    .album-art {
      width: 100%;
      float: left;

      .image-container {
        width: 100%;
        padding-bottom: 100%;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        position: relative;

        img {
          height: 100%;
          width: auto;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
        }
      }
    }
  }

  .album-details-container {

    .album-details {

      *:not(.btn) {
        border-color: inherit;
      }

      .fa-soundcloud {
        color: #ff5500;
      }

      .list-group-item {
        background: transparent;
        border: 0;
        border-bottom: 1px solid;
        cursor: pointer;
        text-overflow: ellipsis;
        overflow: hidden;
        position: relative;
        height: 2.5rem;

        .track-number {
          position: absolute;
          left: 0;
          width: 25px;
          height: 100%;
          line-height: 100%;
        }

        .title {
          position: absolute;
          left: 25px;
          right: 50px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          height: 100%;
          line-height: 100%;
        }

        .track-duration {
          position: absolute;
          right: 0;
          width: 50px;
          height: 100%;
          line-height: 100%;
          text-align: right;
        }
      }
    }
  }
}

.global-player {

  .now-playing-elapsed,
  .now-playing-length,
  .fa,
  .progress-container {
    height: 2.5rem;
    line-height: 2.5rem;
  }

  .now-playing-elapsed,
  .now-playing-length {
    font-size: 1.2rem;
  }

  .progress {
    height: 1rem;
    margin-top: (2.5rem - 1rem) / 2;
    margin-bottom: (2.5rem - 1rem) / 2;

    .progress-bar {
      height: 1rem;
    }
  }

  .now-playing-album, .now-playing-song {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .fa {
    cursor: pointer;
  }
}

.error-page {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: url('../../images/404_dog.jpeg') no-repeat center;
  background-size: cover;
  padding: 0;

  .row {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    display: block;
    padding: 30px;
    background: rgba(255, 255, 255, 0.5);

    > div {
      margin: auto;
    }
  }
}

@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(md) {

  nav.navbar {
    .navbar-collapse {
      padding-top: 0;
    }
  }

  header:not(.profile-header) {
    .page-title {
      h1 {
        font-size: 3rem;
      }

      h2 {
        font-size: 1.5rem;
      }
    }
  }

  section.intro {

    .btn {
      width: 40%;
    }
  }

  section.statistics {
    span {
      font-size: 3rem;
      line-height: 3rem;
      height: 3rem;
    }

    &.double {
      font-size: 6rem;
      line-height: 6rem;
      height: 6rem;
    }
  }
}

@include media-breakpoint-up(lg) {
  section.statistics {
    span {
      font-size: 4rem;
      line-height: 4rem;
      height: 4rem;

      &.double {
        font-size: 8rem;
        line-height: 8rem;
        height: 8rem;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  header:not(.profile-header) {
    .page-title {
      font-size: 6rem;
    }
  }
}