th, td {
    height: 100px;
    max-width: 100px;
    border: 1px solid #212121;
    border-collapse: collapse;
}

td.last-month {
    border: none;
}

th {
    height: 30px;
    text-align: center;
}

td {
    position: relative;
    padding: 10px;
    vertical-align: top;
    background-clip: border-box;
}

td.disabled {
    background-color: #9E9E9E;
}

.btn-calendar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background: transparent;
    border: none;
    padding: 5px;
}

.btn-calendar:active,
.btn-calendar:focus {
    outline: none;
}

.btn-calendar:hover {
    cursor: pointer;
}

.btn-calendar:active {
    background-color: #81C784;
}

.btn-calendar p {
    display: block;
    text-align: left;
    vertical-align: top;
    text-transform: capitalize;
    font-size: 1em;
}

@media (min-width: 992px) {
    .btn-calendar p {
        font-size: 1.2em;
    }
}

.reserved:active {
    background-color: #81C784;
}

.reserved {
    background-color: #4CAF50;
}

.logout {
    float: right;
}

.user-info > strong {
    text-transform: capitalize;
}

.daynr {
    text-align: center;
    margin-bottom: 5px;
    padding: 4px;
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #212121;
    color: #FFFFFF;
}